<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Webpage Title -->
    <title>ReBook</title>

    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/static/css/style.css" />
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>

    <!-- 파일 업로드 라이브러리 -->
    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>

    <script>
      $(document).ready(function () {
        bsCustomFileInput.init();
      });

      function posting() {
        let title = $("#book-title").val();
        let author = $("#book-author").val();
        let desc = $("#book-description").val();

        let file = $("#file")[0].files[0];
        let form_data = new FormData();

        if (title.length == 0) {
          alert("제목을 입력하세요.");
          return false;
        } else if (author.length == 0) {
          alert("저자를 입력하세요.");
          return false;
        } else if (desc.length == 0) {
          alert("설명을 입력하세요.");
          return false;
        } else if (!file) {
          alert("파일을 선택하세요.");
          return false;
        } else {
          form_data.append("file_give", file);
          form_data.append("title_give", title);
          form_data.append("author_give", author);
          form_data.append("desc_give", desc);

          $.ajax({
            type: "POST",
            url: "/book",
            data: form_data,
            cache: false,
            contentType: false,
            processData: false,
            success: function (response) {
              alert(response["msg"]);
              window.location.href = "/";
            },
          });
        }
      }

      function setThumbnail(event) {
        $("#image_container *").remove(); // 기존의 등록된 사진 제거
        var reader = new FileReader();
        reader.onload = function (event) {
          var img = document.createElement("img");
          img.setAttribute("src", event.target.result);
          document.querySelector("div#image_container").appendChild(img);
        };
        reader.readAsDataURL(event.target.files[0]);
      }

      function logout() {
            $.removeCookie('token', {path: '/'});
            window.location.href = "/";
        }
    </script>
  </head>
  <body class="page-book-add">
    <div class="wrap">
        <div class="header">
            <h1><a href="/">ReBook</a></h1>
            <a href="#" onclick="logout()">로그아웃</a>
        </div>
        <div class="title">
            <h2>책 추가</h2>
        </div>
        <div class="content">
            <div class="book">
                <div class="book-image">
                    <div class="custom-file">
                        <div class="image-container" id="image_container"></div>
                        <div>
                            <label for="file">업로드</label>
                            <input
                                type="file"
                                id="file"
                                accept="image/*"
                                onchange="setThumbnail(event);"
                            />
                        </div>
                    </div>
                </div>
                <div class="book-info">
                    <label for="exampleFormControlInput1" class="form-label"
                    >책 제목</label
                    >
                    <input type="text" class="form-control" id="book-title" />
                    <label for="exampleFormControlInput1" class="form-label"
                    >책 저자</label
                    >
                    <input type="text" class="form-control" id="book-author" />
                    <label for="exampleFormControlTextarea1" class="form-label"
                    >설명</label
                    >
                    <textarea
                    class="form-control"
                    id="book-description"
                    rows="8"
                    ></textarea>
                    <button
                        onclick="posting()"
                        type="button"
                        class="mybtn btn btn-primary"
                    >
                        등록하기
                    </button>
                </div>
            </div>
        </div>
    </div>
  </body>
</html>
