<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review Add</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        function posting() {
            let book_num = parseInt($("body").data("index"));
            let review = $("#review").val();
            console.log(`book_num: ${book_num}, review: ${review}`);
            $.ajax({
                type: "POST",
                url: "/api/review",
                data: {
                    book_num,
                    review
                },
                success: function (response) {
                    window.location.href = '/';
                }
            });
        }

        $(document).ready(function () {
            $("#reviewForm").on("submit", function(e) {
                e.preventDefault();
                posting();
            });
        })
    </script>
</head>
<body data-index="{{book.num}}">
    <form id="reviewForm">
        <div>{{book.title}}</div>
        <div>{{book.desc}}</div>
        <div>{{book.author}}</div>
        <input id="review" type="text" />
        <button>전송</button>
    </form>
</body>
</html>